<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="jumbotronTitle" class="display-4"><strong>WeatherApp -</strong> <span id="insertCity"></span></h1>
    <p id="lead1" class="lead"> Complete the search below and see the current forecast </p>
    <p id="lead2" class="lead"></p>
    <p id="lead3" class="lead"></p>
    <hr class="my-4">
  </div>
</div>